:root {
  --brand-background1: #2f303a;
  --header-background: #2f303a66;
  --brand-color1: #2196f3;
  --brand-color2: #000000;
  --brand-colorAccent: #ffffff;
  --brand-colorAccent-op: #ffffff1a;
  --menu-color: #212121;
  --input-modal-border: #21212133;
  --button-background: #f5f4fa;
  --paragraph-color: #757575;
  --placeholder-color: #75757580;
  --link-footercolor: #ffffff99;
  --bottom-border-header: #e5e5e5;
  --bottom-border-portfolio: #eee;
  --icon-clients-color: #afb1b8;
  --icon-clients-hover: #2196f3;
  --about-caption-bg: #2f303acc;
  --text-tile-background: #2196f3e6;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--menu-color);
  letter-spacing: 0.03em;
  line-height: 1;
  font-size: 14px;
}

ul {
  list-style-type: none;
  margin: 0;
}

ul,
li,
p,
h3,
figure {
  margin: 0;
  padding: 0;
}

/* General styling */

.paragraph {
  line-height: 1.5;
  color: var(--paragraph-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.flex-box {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.section {
  padding: 94px 0;
}

.extra-padding {
  padding: 100px 0;
}

.logo {
  color: var(--brand-color2);
  font-size: 26px;
  font-weight: 700;
  margin-right: 94px;
}

.link {
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  font-weight: 700;
  background-color: var(--brand-color1);
  color: var(--brand-colorAccent);
  border-radius: 4px;
  min-width: 200px;
  cursor: pointer;
  font-size: 16px;
  line-height: 2;
  padding: 10px;
  text-align: center;
  border: none;
}

.negative-margin {
  margin-top: -94px;
}

.section__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.image {
  display: block;
}

/* header section styling */

.header--border {
  border-bottom: 1px solid var(--bottom-border-header);
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 25px 0;
}

.logo--accent {
  color: var(--brand-color1);
}

.header__navigation {
  gap: 46px;
}

.link__header {
  color: inherit;
  text-decoration: none;
}

.link__header:hover,
.link__header:focus {
  color: var(--brand-color1);
}

.header__contact-info {
  gap: 50px;
}

.link__header--contact-info {
  color: var(--paragraph-color);
  text-align: center;
  line-height: 1.5;
}

.is-active {
  position: relative;
}

.is-active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color1);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(31px);
}

/* icon styling */

.icon {
  fill: currentColor;
}
.icon__header--contact-info {
  margin-right: 10px;
}

.social-list {
  gap: 10px;
}

.social-list__item {
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--icon-clients-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item:hover,
.social-list__item:focus {
  background-color: var(--brand-color1);
  color: var(--brand-colorAccent);
}
.social-list__item--reverse {
  background-color: var(--brand-colorAccent-op);
}

.social-list__item--reverse:hover,
.social-list__item--reverse:focus {
  background-color: var(--brand-color1);
  border-radius: 50%;
  color: var(--brand-colorAccent);
}

/* hero section styling*/

.hero--bg {
  background-image: linear-gradient(
      to bottom,
      var(--header-background),
      var(--header-background)
    ),
    url(../images/header_image.jpg);
  max-width: 1600px;
  background-size: cover;
  margin: 0 auto;
}

.hero--content {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-colorAccent);
  text-align: center;
}

.hero-gap {
  gap: 30px;
  padding: 5px 0;
}

.hero__tile {
  background-color: var(--button-background);
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.hero__heading {
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.paragraph__hero {
  line-height: 1.7;
  text-align: left;
}

/* about section styling */

.about__tile {
  position: relative;
}

.about__name {
  width: 370px;
  min-height: 70px;
  background-color: var(--about-caption-bg);
  position: absolute;
  top: 224px;
}

.about__heading {
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--brand-colorAccent);
  transform: translateY(200%);
}

/* team section styling */

.team--bg {
  background-color: var(--button-background);
}

.team__list {
  gap: 30px;
  padding-bottom: 1px;
}

.figure__team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.figcaption__team {
  padding: 30px 32px;
  background-color: var(--brand-colorAccent);
  border-radius: 0 0 4px 4px;
}

.team__heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: var(--menu-color);
  text-transform: none;
  margin-bottom: 10px;
}
.paragraph__team {
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}

/* clients section styling */

.clients--border {
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
  color: var(--icon-clients-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .icon--wrapper {
  width: 106px;
  height: 60px;
} */

.clients--border:hover,
.clients--border:focus,
.clients--border:hover .icon,
.clients--border:focus .icon {
  color: var(--icon-clients-hover);
}

/* footer styling */

.footer--bg {
  background-color: var(--brand-background1);
}

.container__footer {
  background-color: var(--brand-background1);
  color: var(--brand-colorAccent);
  padding: 60px 0px;
  margin-right: 70px;
  position: relative;
}

.social-footer {
  padding: 72px 0px;
  color: var(--brand-colorAccent);
  margin-right: 70px;
}

.paragraph__social-footer {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--brand-colorAccent);
  margin-bottom: 20px;
}

.adress__footer {
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
  font-style: normal;
}

.logo__footer {
  color: var(--brand-colorAccent);
  text-decoration: none;
}
.link__footer {
  color: var(--link-footercolor);
  text-decoration: none;
}

.link__footer:hover,
.link__footer:focus {
  color: var(--brand-color1);
}

.wrapper__footer {
  padding: 72px 0px 100px 0px;
  color: var(--brand-colorAccent);
  display: flex;
  flex-direction: row;
  width: 580px;
}

.footer__form {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.footer__input-wrapper {
  display: block;
}

.footer__label {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--brand-colorAccent);
  margin-bottom: 20px;
}

.footer__input {
  padding: 8px;
  border: 1px solid var(--link-footercolor);
  border-radius: 4px;
  background-color: inherit;
  color: var(--link-footercolor);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  outline: none;
  width: 100%;
  min-height: 50px;
  margin-top: 20px;
}

.footer__submit-wrapper {
  position: relative;
  display: inline;
  color: var(--brand-colorAccent);
}

.submit__btn {
  padding: 10px 42px;
  text-align: left;
  color: inherit;
  font-style: inherit;
}

.submit__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--brand-colorAccent);
}

/* modal styling */

.backdrop__modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  padding: 45px 40px 35px;
  border-radius: 4px;
  background-color: var(--brand-colorAccent);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.06),
    1px 2px 4px rgba(0, 0, 0, 0.16);
}

.backdrop__form {
  flex-direction: column;
  align-items: stretch;
}

.backdrop__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--menu-color);
  text-align: center;
  margin-bottom: 12px;
}

.backdrop__input-wrapper {
  position: relative;
}

.backdrop__input-wrapper:focus-within {
  fill: var(--brand-color1);
}

.backdrop__label {
  position: relative;
  font-size: 12px;
  color: var(--paragraph-color);
}

.backdrop__icon {
  position: absolute;
  top: 24px;
  left: 12px;
  transform: translateY(50%);
}

.backdrop__input {
  width: 100%;
  padding: 12px 0px 12px 42px;
  border: 1px solid var(--input-modal-border);
  font-size: 16px;
  line-height: 1;
  outline: none;
  margin-top: 4px;
  margin-bottom: 10px;
}

.backdrop__textarea {
  padding: 12px 0px 12px 16px;
  border: 1px solid var(--input-modal-border);
  outline: none;
  resize: none;
  margin-top: 4px;
  margin-bottom: 10px;
}

.backdrop__input:focus,
.backdrop__textarea:focus {
  border: 1px solid var(--brand-color1);
}

.backdrop__modal-textarea::placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
}

.backdrop__checkbox-wrapper {
  position: relative;
  align-self: center;
  margin-top: 25px;
}

.backdrop__checkbox-wrapper input:checked ~ .backdrop__checkbox {
  background-color: var(--brand-color1);
  border: 1px solid var(--brand-color1);
}

.backdrop__checkbox-input {
  opacity: 0;
  cursor: pointer;
  margin-right: 8px;
  height: 20px;
  width: 20px;
  z-index: 1;
}

.backdrop__checkbox {
  position: absolute;
  top: 0;
  left: 15px;
  transform: translate(-100%, 50%);
  width: 16px;
  height: 15px;
  border: 1px solid var(--menu-color);
  border-radius: 2px;
  z-index: 0;
}

.backdrop__checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--brand-colorAccent);
}

.backdrop__checkbox-label {
  line-height: 1.7;
  color: var(--paragraph-color);
  margin-top: 20px;
}

.backdrop__link {
  color: var(--brand-color1);
}

.backdrop__btn {
  padding: 10px 41px;
  border: none;
  margin-top: 30px;
  align-self: center;
}

.backdrop__close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--brand-colorAccent);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.backdrop__close--sign {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0) rotate(360deg);
}

.backdrop {
  visibility: visible;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio styling */

.filter {
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1px 16px;
  margin-bottom: 34px;
}

.filter__btn {
  background-color: var(--button-background);
  font-weight: 500;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: var(--brand-color1);
  color: var(--brand-colorAccent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.grind {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grind figure:hover,
.grind figure:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.figcaption__grind {
  padding: 20px 24px;
  border: 1px solid var(--bottom-border-portfolio);
  border-top: none;
}

.heading_grind {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  text-transform: none;
}

.paragraph__grind {
  font-size: 16px;
  line-height: 2;
}

/* overlay styling */

.overly {
  position: relative;
  overflow: hidden;
}

.overly__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 24px;
  background-color: var(--text-tile-background);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overly__paragraph {
  width: 301px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--brand-colorAccent);
}

.overly:hover .overly__text {
  transform: translateY(0);
}
