$brandBg: #2f303a;
$headerBg: #2f303a66;
$brandColor: #2196f3;
$logoColor: #000000;
$brandAccent: #ffffff;
$iconBgReverse: #ffffff1a;
$textColor: #212121;
$backdropInputBorder: #21212133;
$button-background: #f5f4fa;
$paragraph-color: #757575;
$placeholder-color: #75757580;
$link-footercolor: #ffffff99;
$bottom-border-header: #e5e5e5;
$bottom-border-portfolio: #eee;
$icon-clients-color: #afb1b8;
$icon-clients-hover: #2196f3;
$about-caption-bg: #2f303acc;
$text-tile-background: #2196f3e6;
